body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: lightcyan;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: bisque;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

form input[type="text"],
form input[type="datetime-local"],
form button {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#appointments {
  margin-top: 20px;
}

img{
  width: 100%;
  height: 520px;
}
